body, html { height: 100%;}
body {
    color: #231f20;
    font-size: 15px;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
    background: #000;
    padding: 0 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif; margin: 0; padding: 0;
}
img {
    max-width: 100%;
}
ul{padding: 0;}
a {
    outline: none !important;
    font-weight: 400;
    text-decoration: none !important;
}
ul li {list-style: none;}
:focus, :active{outline: none;}
.cf:before,
.cf:after,
.cf:before,
.cf:after,
.container:before,
.container:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.cf:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}
.un-style{ list-style: none; padding: 0; margin: 0;}
.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}
.no-padding {
    padding: 0 !important;
}
.static {
    position: static !important;
}

.reltv{
    position: relative!important;
}
.abso{
    position: absolute !important;
}
.fixed{
    position: fixed !important;
}

.m-t-40{margin-top: 40px;}

.topbar {padding: 5px 0 0 0; top: 0; width: 100%; height: 75px; z-index: 99; left: 0;}
.topbar .col-md-12 {padding:0 10px; }
.topbar .col-md-12 .name{color: #fff; padding:0 12px;}
.topbar .col-md-12 .search-box{width: 80%;border: 0; border-bottom: solid 1px #fff; background: transparent; color: #fff; margin-left: 15px;}

.topbar.gradient {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */}

.topbar img{width: 15px; }

.videos li{padding: 0 5px;margin-bottom: 20px;}
.videos li span{font-weight: 100; color: #fff;font-size: 13px;}